<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>{% block title %}Тестовое задания{% endblock %}</title>
</head>

<body class="pb-5">
    <div class="container">
        <h1 class="row">
            <div class="col-12 pt-3 pb-4">Тестовое задание для стажировки (Python Developer)</div>
        </h1>
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>