{% extends "core/base.html" %}

{% block content %}
        <div class="container">
            <div class="row">
                <h2 class="col-12">Информация о блоке #{{ block_ob.height }}</h2>
            </div>
            <div class="row">
                <div class="col-12">Высота блока: {{ block_ob.height }}</div>
                <div class="col-12">Хэш блока: {{ block_ob.hash }}</div>
                <div class="col-12">Время: {{ block_ob.timestamp }}</div>
                <div class="col-12">Майнер: {{ block_ob.miner_address }}</div>
                <div class="col-12">Транзакций: {{ block_ob.tx_count }}</div>
            </div>
        </div>

{% endblock %}