{% extends "core/base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <h2 class="col-12">Блоки</h2>
        </div>
        {% for block in blocks %}
            <div class="row mb-2">
                <div class="col-auto">
                    <a href="{% url 'core:block' block.height %}" class="d-block w-100 block-link">
                        Блок #{{ block.height }} <br>
                        {{ block.timestamp }}
                    </a>
                </div>
                <div class="col-9">
                    <div>Добыто: {{ block.miner_address }}</div>
                    <div>{{ block.tx_count }} транзакции</div>
                </div>
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-12">
                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page=1">&laquo; первая</a>
                            <a href="?page={{ page_obj.previous_page_number }}">пред.</a>
                        {% endif %}

                        <span class="current">
                            Стр {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
                        </span>

                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">след.</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}">последняя &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

